/* screen - desktop-1 */

.desktop-1 {
  align-items: center;
  background-color: var(--midnight-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 4339px;
  overflow: hidden;
  width: 1440px;
}

.desktop-1 .overlap-group9 {
  align-self: flex-start;
  height: 909px;
  margin-left: -161px;
  margin-top: -93px;
  position: relative;
  width: 1983px;
}

.desktop-1 .group-37 {
  align-items: flex-start;
  display: flex;
  gap: 263px;
  height: 860px;
  left: 0;
  min-width: 1983px;
  position: absolute;
  top: 0;
}

.desktop-1 .ellipse-2 {
  background-color: var(--chetwode-blue-2);
  border-radius: 507px/272.5px;
  filter: blur(305px);;
  height: 545px;
  margin-top: 14px;
  width: 1014px;
}

.desktop-1 .ellipse-1 {
  background-color: var(--aqua-island);
  border-radius: 353px/430px;
  filter: blur(305px);;
  height: 860px;
  width: 706px;
}

.desktop-1 .navbar {
  align-items: center;
  display: flex;
  height: 100px;
  left: 386px;
  min-width: 1091px;
  position: absolute;
  top: 122px;
}

.desktop-1 .screenshot__72_-removebg-2-1 {
  height: 100px;
  object-fit: cover;
  width: 113px;
}

.desktop-1 .navbar-link-about {
  margin-left: 419px;
}

.desktop-1 .navbar-link-donate {
  margin-left: 41px;
}

.desktop-1 .navbar-link-place {
  margin-left: 57px;
}

.desktop-1 .navbar-link-place-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-left: 49px;
  min-height: 28px;
  white-space: nowrap;
  width: 143px;
}

.desktop-1 .group-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 349px;
  min-height: 110px;
  position: absolute;
  top: 799px;
  width: 1067px;
}

.desktop-1 .featured-on {
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 32px;
  white-space: nowrap;
}

.desktop-1 .image-container {
  align-items: center;
  background-color: #29245e30;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  min-width: 1065px;
  padding: 14px 50px;
}

.desktop-1 .image-6 {
  align-self: flex-end;
  height: 49px;
  object-fit: cover;
  width: 135px;
}

.desktop-1 .image-5 {
  height: 18px;
  margin-bottom: 2.0px;
  margin-left: 169px;
  object-fit: cover;
  width: 117px;
}

.desktop-1 .image-7 {
  height: 26px;
  margin-left: 201px;
  margin-top: 0.15px;
  object-fit: cover;
  width: 42px;
}

.desktop-1 .image-8 {
  height: 21px;
  margin-left: 200px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 87px;
}

.desktop-1 .screenshot__72_-removebg-1 {
  height: 544px;
  left: 918px;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 653px;
}

.desktop-1 .group-34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 349px;
  min-height: 329px;
  position: absolute;
  top: 430px;
  width: 404px;
}

.desktop-1 .welcome-to-re-tech {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 70px;
  min-height: 174px;
  width: 384px;
}

.desktop-1 .manage-your-electron {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-top: 8px;
  min-height: 55px;
  width: 373px;
}

.desktop-1 .group-container {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-top: 41px;
  min-width: 402px;
}

.desktop-1 .group-5 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 189px;
}

.desktop-1 .overlap-group-1 {
  align-items: center;
  background-color: var(--chetwode-blue);
  border-radius: 83px;
  display: flex;
  height: 51px;
  min-width: 187px;
  padding: 0 56px;
}

.desktop-1 .overlap-group1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #84cecf;
  border-radius: 83px;
  display: flex;
  height: 51px;
  min-width: 187px;
  padding: 11px 43px;
}

.desktop-1 .sign-up {
  letter-spacing: 2.00px;
  line-height: 27.5px;
  white-space: nowrap;
}

.desktop-1 .group-39 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 109px;
  margin-right: 40px;
  margin-top: 122px;
  min-width: 1197px;
}

.desktop-1 .object-other-18 {
  background-image: url(../img/object-other-18.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 463px;
  width: 525px;
}

.desktop-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 46.0px;
  min-height: 305px;
  width: 557px;
}

.desktop-1 .place {
  color: #e5e5e5;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 28px;
  white-space: nowrap;
}

.desktop-1 .manage-your-e-wastes-e-ffectively {
  letter-spacing: 0;
  line-height: 47px;
  min-height: 96px;
  width: 557px;
}

.desktop-1 .use-our-built-in-sea {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 83px;
  width: 373px;
}

.desktop-1 .frame-39-1 {
  align-items: flex-start;
  width: fit-content;
}

.desktop-1 .place-1 {
  letter-spacing: 2.00px;
  line-height: 27.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .group-42 {
  align-items: flex-start;
  display: flex;
  margin-right: 14.0px;
  margin-top: 99px;
  min-width: 1056px;
}

.desktop-1 .overlap-group6 {
  height: 506px;
  position: relative;
  width: 1056px;
}

.desktop-1 .group-40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 0;
  min-height: 252px;
  position: absolute;
  top: 80px;
  width: 699px;
}

.desktop-1 .get-our-apps {
  color: #e5e5e5;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 28px;
  white-space: nowrap;
}

.desktop-1 .our-app-is-the-easie {
  letter-spacing: 0;
  line-height: 47px;
  min-height: 140px;
  width: 695px;
}

.desktop-1 .frame-39-2 {
  align-items: flex-start;
  width: 383px;
}

.desktop-1 .download-on-playstore {
  letter-spacing: 2.00px;
  line-height: 27.5px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .object-other-17 {
  align-items: flex-end;
  display: flex;
  height: 487px;
  justify-content: flex-end;
  left: 537px;
  min-width: 510px;
  position: absolute;
  top: 9px;
  transform: rotate(-2.11deg);
}

.desktop-1 .object-other-17-1 {
  height: 506px;
  margin-bottom: -15.41px;
  object-fit: cover;
  transform: rotate(2.11deg);
  width: 528px;
}

.desktop-1 .group-41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 66px;
  margin-left: 10.0px;
  margin-top: 182px;
  min-height: 993px;
  width: 1074px;
}

.desktop-1 .flex-row {
  align-items: flex-end;
  display: flex;
  height: 572px;
  min-width: 1060px;
}

.desktop-1 .overlap-group {
  height: 355px;
  position: relative;
  width: 250px;
}

.desktop-1 .rectangle-2 {
  left: 0;
  top: 60px;
}

.desktop-1 .name {
  left: 18px;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  text-align: center;
  top: 144px;
}

.desktop-1 .mask-group-1 {
  height: 119px;
  left: 58px;
  width: 135px;
}

.desktop-1 .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  min-height: 572px;
  width: 453px;
}

.desktop-1 .teams {
  color: #aad9d9;
  font-family: var(--font-family-roboto);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.5px;
  margin-right: 1.0px;
  min-height: 28px;
  min-width: 108px;
  white-space: nowrap;
}

.desktop-1 .read-what-othershave-to-say {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 13px;
  min-height: 110px;
  min-width: 453px;
  text-align: center;
}

.desktop-1 .overlap-group2 {
  height: 355px;
  margin-left: 1.0px;
  margin-top: 66px;
  position: relative;
  width: 250px;
}

.desktop-1 .surname {
  left: 35px;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  text-align: center;
  top: 144px;
  white-space: nowrap;
}

.desktop-1 .mask-group {
  height: 119px;
  left: 57px;
  position: absolute;
  top: 0;
  width: 135px;
}

.desktop-1 .overlap-group4 {
  height: 355px;
  margin-left: 52px;
  position: relative;
  width: 250px;
}

.desktop-1 .althaf-rizqi-hariawan {
  left: 13px;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  text-align: center;
  top: 138px;
  width: 224px;
}

.desktop-1 .mask-group-2 {
  height: 119px;
  left: 56px;
  width: 137px;
}

.desktop-1 .overlap-group-container {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 145px;
  margin-left: 24.0px;
  min-width: 662px;
}

.desktop-1 .overlap-group3 {
  height: 352px;
  position: relative;
  width: 267px;
}

.desktop-1 .rectangle-25 {
  left: 9px;
  top: 57px;
}

.desktop-1 .name-1 {
  left: 0;
  top: 136px;
  width: 267px;
}

.desktop-1 .mask-group-3 {
  height: 113px;
  left: 72px;
  width: 123px;
}

.desktop-1 .name-2 {
  left: 45px;
  top: 132px;
  white-space: nowrap;
}

.desktop-1 .overlap-group-container-1 {
  height: 385px;
  margin-left: 5.0px;
  margin-top: 146px;
  position: relative;
  width: 1069px;
}

.desktop-1 .overlap-group7 {
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 15.26, 57.37) 0%, rgb(128, 128, 215) 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 385px;
  padding: 30px 240px;
  position: absolute;
  top: 0;
  width: 1065px;
}

.desktop-1 .are-you-ready {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 47px;
  text-align: center;
  width: 299px;
}

.desktop-1 .be-a-part-of-thenext-big-thing {
  align-self: flex-start;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 31px;
  min-height: 125px;
  text-align: center;
  width: 576px;
}

.desktop-1 .frame-39 {
  align-items: flex-start;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 83px;
  display: flex;
  gap: 10px;
  margin-left: 1.0px;
  margin-top: 61px;
  padding: 11px 38px;
  position: relative;
  width: fit-content;
}

.desktop-1 .view-our-pricing {
  letter-spacing: 2.00px;
  line-height: 27.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .overlap-group8 {
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 15.26, 57.37) 0%, rgb(128, 128, 215) 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 385px;
  padding: 30px 191px;
  position: absolute;
  top: 0;
  width: 1065px;
}

.desktop-1 .want-to-sell-your-e-wastes {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  min-height: 47px;
  text-align: center;
  width: 596px;
}

.desktop-1 .press-button-below-to-see-nearby-vendor {
  align-self: flex-start;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 31px;
  min-height: 125px;
  text-align: center;
  width: 681px;
}

.desktop-1 .view-vendor {
  letter-spacing: 2.00px;
  line-height: 27.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .group-46 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-left: 17.0px;
  margin-top: 305px;
  min-height: 298px;
  width: 1081px;
}

.desktop-1 .flex-row-1 {
  height: 48px;
  min-width: 1065px;
}

.desktop-1 .re-tech {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 47px;
  width: 183px;
}

.desktop-1 .e-wastes {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 9px;
  margin-top: 3.15px;
  min-height: 34px;
  width: 119px;
}

.desktop-1 .locations {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 25px;
  margin-top: 3px;
  min-height: 34px;
  width: 130px;
}

.desktop-1 .contacts {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 98px;
  margin-top: 3px;
  min-height: 34px;
  width: 135px;
}

.desktop-1 .join-our-newsletter {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 57px;
  min-height: 47px;
  width: 309px;
}

.desktop-1 .flex-row-2 {
  align-self: center;
  height: 231px;
  margin-left: 111.1px;
  min-width: 792px;
}

.desktop-1 .home-about-manage {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 31px;
  min-height: 225px;
  width: 73px;
}

.desktop-1 .browse-recycle-cente {
  letter-spacing: 0;
  line-height: 31px;
  margin-left: 63px;
  margin-top: 5.85px;
  min-height: 169px;
  width: 173px;
}

.desktop-1 .email-linked-in-instagram-twitter {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 31px;
  margin-bottom: 0.12px;
  margin-left: 55px;
  min-height: 225px;
  width: 78px;
}

.desktop-1 .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--deep-cove);
  border-radius: 70px;
  display: flex;
  gap: 45px;
  height: 40px;
  justify-content: flex-end;
  margin-left: 79px;
  min-width: 271px;
}

.desktop-1 .email-address {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31px;
  margin-bottom: 4.2px;
  min-height: 23px;
  white-space: nowrap;
  width: 119px;
}

.desktop-1 .frame-39-3 {
  align-items: center;
  height: 39px;
  justify-content: center;
  width: 97px;
}

.desktop-1 .submit {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.40px;
  line-height: 27.5px;
  margin-bottom: -4.59px;
  margin-left: -19.11px;
  margin-right: -19.11px;
  margin-top: -6.59px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.desktop-1 .frame-39-4 {
  background-color: var(--chetwode-blue);
  border-radius: 83px;
  display: flex;
  gap: 10px;
  padding: 11px 38px;
  position: relative;
}

.desktop-1 .mask-group-4 {
  position: absolute;
  top: 0;
}

.desktop-1 .name-3 {
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  text-align: center;
}

.desktop-1 .navbar-link {
  letter-spacing: 0;
  line-height: 27.5px;
  min-height: 28px;
  white-space: nowrap;
  width: 87px;
}

.desktop-1 .rectangle {
  background-color: var(--deep-cove);
  height: 295px;
  position: absolute;
  width: 250px;
}
